


section > .tienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    margin: 0 auto;
    text-align: center;
}

.tienda {
    width: 23%;
    height: 10%;
    font-size: 20px;
}

.icompra{
    width: 23%;
    height: 40%;
}

.boton{
    width: 95%;
    height: 50px;
    background-color: rgb(0, 0, 0, 0.8);
    text-align: center;
    padding: 5%;
    line-height: 30px;
    font-size: 18px;
}

.boton:hover{
    cursor: pointer;
    transition: background-color 1s;
    background-color: rgb(0, 0, 0, 1) ;
}

.tienda>img {
    width: 85%;
    height: 85%; 
}